.square-row {
    display: flex;
}

.square {
    width: 32px;
    height: 32px;
     margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.square.selected {
    transform: scale(1.1);
}

#canvasContainer {
    height: 100%;
    position: relative;
}

#highlight {
    position: absolute;
    pointer-events: none;
    border: 1px solid red;
    box-sizing: border-box;
}
#infoPanel{
    background-color: rgb(205, 205, 230);
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) { /* Примерная ширина для перехода на мобильный дизайн */
    #infoPanel {
      width: 100%; /* Занимаем всю ширину на мобильных устройствах */
      height: 300px; /* Высота панели на мобильных устройствах */
      bottom: 0; /* Позиционируем снизу */
      top: auto; /* Снимаем верхний отступ */
    }
  }

#myCanvas{
    display: block;
    width: 100%;
    height: 100%;
}
.text{
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.littleText{
    padding: 0;
    font-size: 18px;
    color: rgb(56, 74, 97);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
